name: Docker Build and Test

on:
  workflow_dispatch: 
  push:
    branches: 
      - '**' #[main]
  pull_request:
    branches:
      - main
    paths:
      - Dockerfile

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build prerequisites
        run: |
          sudo make prereqs

      - name: Build the Docker image
        run: |
          make build

      - name: Run tests
        run: |
          make test

      - name: Build Docker Image
        run: |
          docker build -t clasdss .